header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgb(29, 28, 28);
}

.logo-image {
    display: none;
}

.head-content {
    color: aqua;
    font-size: clamp(0.8rem, 1vw, 1rem);
}

.gamer-color {
    color: #0af1c7;
}

.generics-color {
    color: #0a6ef1;
}


@media (max-width: 1024px) {
    .logo-title {
        display: none;
    }

    .logo-image {
        display: block;
        max-width: 110px;
        transition: all 0.2s ease-in-out;
    }
}

@media (max-width: 800px) {
    .logo-image {
        max-width: 88px;
    }
}